<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Author: Anthony Altieri -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700' rel='stylesheet' type='text/css'>

    <!-- Material font icon CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body style="margin: 0;">
	<div id="root"></div>
</body>
</html>
