language: node_js
node_js:
  - 6
before_script: npm run build-backend
script: "gulp test:server && gulp test:client"
deploy:
  - provider: heroku
    api_key:
      secure: XtuyhatEO6k+AfqAnFhdtilM/tK8zJsF9lDxE4jBXQeWUhAMRD8sd/f1PY1DF6pJp6+0KB5gbqG8UXSwI4f0AnaKjjIZcW+qTqMOY9G3WPShhmRv64k7qwGYQgIoSD36G26xiLurQ2iXUlA8fhtluL1ULXsd7TfMz+y9wDzE6WV0KHEHdHcvFQ2NjjV96PMXwwO+m2Vs4TvnVdAHjQ6r3fxwI3Aqs1vnlZ3/3v0y+QSvDy0un9tpGFdmuGqBHju+/7m2e0/aSvey5iJull7RnMn+KdS5RN0i6DckZxluZfLn5vwpf8k7fMryyhzE7FZptab802GvYNX6ikjhsEnaiXKLrDo2hSTsV2QqPzefNHx05RJwNGixNFSoWHhljhEyILnD6RTI9ZYF6vblbVQ0YTANeDXVrJT6Mm5C8Tqjc4Xyuvkx0K9vKGDnnpPxdrkrr7eOWG+BrfTjWJwwhAPY9i96PKd/MgrnldlKjbwx/c9aBKsKo+lFp5SzDKTmkD9vkPZLpE0VZOpsLmfmN5r0QjW6MRD+JTCA37/o6LTXJLmEqff39GLOL68uJ0zYouQulwho30mR0rV/9m1+hzH2SrmkSo1+1TWOmSdlTEvBRFhVaytm9N39BxYtv7HiW4vT3GHJ21Ex3FetUvNo/6bhHpcaP2wxzImv2uBVOM8yG88=
    app: team1-emissary
    on: master
  - provider: heroku
    api_key:
      secure: Ve1j9u/VvNnQRQ/hIie7cU42QPeuh7sOk+NGvFIAWxjuG3SpRWHr3z1BYvqs116AC/X/xCwG2u/GIB+apYDm0G5oDgiJcgNFAXR/5PF5gt6YAsVv1waPdZNhxEGGO+zb0wMR3GeFYzcOxOv8lO44wWmfannmqZKvz+L1khTiVsqHBgpwfUKfO64ANKc8s3tbGY0kPhXmDlVnzs2kpmLSuEWKz7FFTprczEtJ2lqdTxvhAWEO0SpWLNo3SvJcP/kxCPJmFXnykfhhedEAXHX2IsSKyuvqP4LCIGiL11XCHPyUWYQ+sq/ehAA8kv00wd13Sokwh3kuFmo0Uj1ZJpnfMpq3egOKjoNe/JKQdDXPzQLAI3OfovSSsaeJa5eu5G9v5AqqGp9XH6VkjQ1zXw3PcaUoLejDoQYOsqP2KZYQuHXhUPymLoaJoakJ9Tm3w26t6R8E9asUgydauaaNoxdxPewUCIZEPRLWxDvA0zwRK58WzkfLhiE6IuxQkm0bi5nzvasTwegOD5jV1R7OltOa2yB0DJqUMNhwkCCdWHw1Ask3bhWLi1jQKUebiWMRWyUlK6mam7S4530G5XimFZulMo1nG873p71VubwbUrbAo7FY8fX5U5C89dkq28QPuYjXY2+EM3fj1/1566TdeNKdYw3mLLFVyWNqoK0KiGgMfp8=
    app: cse112-1-staging
    on: develop